* {
  font-family: 'Montserrat', sans-serif;
}


#app-canvas {
    cursor: url('../../public/brush-mini.png') 0 30, auto;
    border: solid #aaa 1.5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 0 1em rgba(0,0,0,.2)
}

button,
input[type="submit"],
select {
  background-color: #fff;
  border: solid #000 1.5px;
  border-radius: none;
}

.label {
  padding-left:5%;
}
