
.login_signup {
    font-family: 'Montserrat', sans-serif;
    width: 20%;
    margin-top: 3em;
    padding: 3em;
    background-color: #D8F3FF;
    color: #F4A745
  }

  input{
    border-radius: .5em;
    margin: .5em;
  }

#button{
  background-color:#D8F3FF;

 }
