.navbar {
  font-family: 'Montserrat', sans-serif;
  padding: 1em 0em 1em 5%;
  border-bottom: #BFD7EB 1px solid;
  background-color: #fff
}

.nav-links {
  padding-left:1.5em;
  font-size: 22px;
  color: #000;
  text-decoration: none;

  &:hover {
    $red: random(256)-1;
    $green: random(256)-1;
    $blue: random(256)-1;
    color: unquote("rgb(#{$red}, #{$green}, #{$blue})");
  }
}
