.navbar {
  font-family: 'Montserrat', sans-serif;
  padding: 1em 0em 1em 0em;
  border-bottom: black 1px solid
}

.nav-links {
  padding-left:1.5em;
  font-size: 22px;
  color: #ff9e38;
  text-decoration: none;

  &:hover {
    color: red
  }
}
