#toolbar {
	.tools {
		list-style: none;
		padding:0;
		margin-left: 5%;

		li {
			display: inline;
			padding: 0 7px;
		}

		select, input {
			vertical-align: top;
			margin-top: 2.5px;
			margin-left: 1px;
		}

		input {
			height: 25px;
		}
	}	
}